html, body, #root, .App, #playbox, #blackboard
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: whitesmoke; 
}

div 
{
  margin: 0;
  padding: 0; /* are these required */
}

#playbox 
{
    position:relative;
}
  
.block {
  position: absolute;
}

h1 {
  margin:0;
  padding:0;
  line-height:30px;
}

p {
  height: 100%;
  width: 100%;
  text-align:center;
  overflow: auto;
}