html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color:var(--color);
}

#root {
  background-color: black;
  color: white;
}

.Playbox, .Blackboard {
  position: relative;
  width: 100%;
  height: 100%;
}

.Playbox h1, .Block h1 {
  float:left;
  margin: 0;
  padding: 0;
  margin-left:10px;
  font-size: 30px;
}


.Playbox .Plusbar, .Block .Plusbar{
  float:left;
  border-left: 1px solid white;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
}

.Plusbar a, .Block a{
  text-decoration: none; 
  display:block;
  margin-top: -5px;
}

.Playbox hr, .Block hr {
  clear: both;
}

.Block {
  padding: 10px;
  font-size: 18px;
}

.Block:hover {
  background-color: "white";
  border: "1px solid white";
}

.Block h1 {
  padding:0;
  margin:0;
}

.Block img {
  max-width:100%;
  max-height:100%;
}

.Block .Content {
  padding-bottom:30px;
}

.QRCode {
  float: left;
  background-color: white;
  padding: 5px;
  margin:0;
}
/* hack for safari content editing :( */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}