html, body, #root, .App {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.Playbox, .Blackboard {
  position: relative;
  width: 100%;
  height: 100%;
}

.Playbox h1 {
  float:left;
  margin: 0;
  padding: 0;
  margin-left:10px;
  font-size: 30px;
  color: lightskyblue;
}


.Playbox .Plusbar {
  float:left;
  border-left: 1px solid white;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
}

.Plusbar a {
  color: lightskyblue;
  text-decoration: none; 
  display:block;
  margin-top: -5px;
}

.Playbox hr {
  clear: both;
}

.Block {
  padding: 10px;
  max-width: 666px;
  font-size: 18px;
}

.Block h1 {
  padding:0;
  margin:0;
}

.Block .Content {
  padding-bottom:30px;
}

/* hack for safari content editing :( */
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}